* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  flex-direction: row;
  font: 400 14px Roboto, sans-serif;
  background: #cfcfd3;
  -webkit-font-smoothing: antialiased;
  
}

.container {
  display: flex;
  flex-direction: row;
  
  width: 90vw;
}
