.clientCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding:15px;
    margin-top: 5px;
    
    width: 75vw;

    background: #fff;

    border-radius: 8px;
    
    .field{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5px;

        p{
            margin: 5px;
        }
    }

    .fieldData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;

        p{
            margin: 5px;
            size: 15px;
            font-family: "Roboto";
            font-weight: 500;
        }
        span{
            color:#949090d0
        }
    }

    .textField {
    display: flex ;
    justify-content: center;
    align-content: center;

    margin-left: 15px;
    margin-top: 20px;
    width: 90%;
    }
    
    .formControl {
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    }
  
    .radioGroup{
    width: 90%;
    justify-content: center;
    margin-top: 15px;
    margin-left: 30px;
    
    }
    
    .footerPage {
    position: relative;
    justify-content: right;
    margin-top: 15px;
    margin-left: 30px;
    }
    


}